.statistics {
  width: 400px;
  margin: 0 auto;
  padding: 50px 20px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  color: #192431;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.statList {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0;
  text-align: center;
  width: 100px;
}

.label {
  padding-top: 5px;
}

.percentage {
  font-size: 20px;
  padding-bottom: 5px;
}
